* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.8rem;
}
.back-img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  background-attachment: fixed;
  min-height: 100%;
}
.box {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.5rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: 0.5rem inset purple;
  outline-offset: 1rem;
}
.header {
  background-image: url(./img/bg.jpg);
  position: relative;
}
.header-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 7rem;
  font-size: 2.7rem;
  padding-top: 2.5rem;
}
.word-1 {
  background-color: whitesmoke;
  text-align: center;
  padding-top: 3rem;
  opacity: 0.7;
}
.word-1 p {
  margin: 2rem 3rem 0 3rem;
  padding-bottom: 3rem;
}
.word-2 {
  background-color: #282e34;
  color: white;
  text-align: center;
  padding-top: 3rem;
  opacity: 0.8;
}
.word-2 p {
  margin: 2rem 3rem 0 3rem;
  padding-bottom: 3rem;
}
.main-1 {
  background-image: url(./img/bg2.jpg);
  position: relative;
}
.main-2 {
  background-image: url(./img/bg3.jpg);
  position: relative;
}
.main-3 {
  background-image: url(./img/bg4.jpg);
  position: relative;
}
.main-4 {
  background-image: url(./img/bg.jpg);
  position: relative;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
.header-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 6rem;
  font-size: 2.5rem;
  padding: 2rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline: 0.4rem inset rgb(98, 0, 98);
  outline-offset: 0.2rem;
  background-color: black;
}
.header-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 4rem;
  font-size: 2.5rem;
  padding: 1rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline: 0.4rem inset rgb(98, 0, 98);
  outline-offset: 0.2rem;
  background-color: black;
}
.header-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 6rem;
  font-size: 2.5rem;
  padding-top: 2rem;
  background-color: black;
}
.bold {
  font-weight: bold;
}
